section,article,aside
{
	display:block;
	
}
html 
{
    /* height: 100%; */
    /* margin: 0; */
    /* padding: 0; */
	overflow-x:hidden;
	overflow-y:scroll;
}
body 
{
	height:100%;
    margin:0px;
	font-family: 'Open Sans', sans-serif; 
    color: rgba(0,0,0,.84);
    font-size: 20px;
    line-height: 1.4;
}
.fixhead
{
	transform: translateY(-65px);
	position: fixed!important;
    background: #fff;
    /* -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15); */
    /* box-shadow: 0 2px 2px -2px rgba(0,0,0,.15); */
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}    
.sticky 
{
	max-width: 1032px;
    margin-left: auto;
    margin-right: auto;
	box-shadow: none;
    position: relative;
    z-index: 99998;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 55px!important;
    overflow: hidden!important;
}
a
{
    text-decoration: none;
	color: rgba(0,0,0,.54);
}
a:hover
{
	color: rgba(0,0,0,.84);
}
.active
{
	color: rgba(0,0,0,.84);
}
.site-main
{
	width:100%;
	height: 100%;
    background: #fff;
}
.headnav
{
	position: absolute;
    display: block;
    z-index: 99998;
    width: 100%;
    font-size: 16px;
    background: #fff;
    top: 0;
}
header
{
	overflow:auto;
	max-width: 1142px;
	margin-left: auto;
    margin-right: auto;
}
nav
{
    max-width: 1142px;
	margin-left: auto;
    margin-right: auto;
	vertical-align: top;
}
.nav-item
{ 
	display: inline-block;
    margin-left: 24px;
}
header svg 
{
  float: left;
  font-weight: 700;
}

.head
{
	display:flex;
	float:right;
	margin-top :8px;
	margin-right: 48px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 5px;
  font-size: 14px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button 
{
	display: none; 
}

input[type=search] 
{
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-size: 100%;
	margin-top:3px;
}
input[type=search] {
	background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#sf input[type=search] {
	width: 20px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
	outline:none;
}
#sf input[type=search]:hover {
	background-color: #fff;
}
#sf input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#sf input:-moz-placeholder {
	color: transparent;
}
#sf input::-webkit-input-placeholder {
	color: transparent;
}
#topbutton {
	font-family: 'Open Sans', sans-serif;
	background-color: #52D58B;
    color: white;
    border-radius: 4px;
    border: 0px solid #4CAF50;
    padding: 12px 18px;
    text-align: center;
    font-size: 14px;
    margin: 1px 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.hero-container
{
    display:flex;
	width:100%;
	height:350px;
	max-width:1208px;
	margin: 12px auto 0 auto;
	flex-direction:row;
}
.large-card
{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	border-radius:3px;
	transition: 0.3s;
    height: 100%;
    width: 448px;
    margin-right: 24px;
    -webkit-box-flex: 0;
	-webkit-box-direction: normal;
}
.longbackimg
{
	height:150px;
	margin-bottom: 16px;
	/* background-origin: border-box!important; */
    background-size: cover;
	display: block;
}
.post-content
{
	margin-left: 88px;
}
.post-title
{
	max-height: 135px;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 16px;
}
.post-heading
{
	color:rgba(0,0,0,.84);
	margin-top:0px;
    line-height: 28px;
	letter-spacing: -.42px;
	margin-bottom: 4px;
}
.post-exerpt
{
	color: rgba(0,0,0,.54);
	letter-spacing: 0px;
	font-size: 14px;
	line-height: 20px;
}
.hero-line
{
	margin-top: 12px;
	min-width: 0;
	flex-direction:column;
	-webkit-box-pack: justify;
	display: flex;
	justify-content: flex-start;
}
.post-meta
{
	font-size:14px;
	font-weight:600;
}
.last
{
	white-space: nowrap!important;
    text-overflow: ellipsis!important;
	overflow: hidden!important;
	font-style: normal!important;
    letter-spacing: 0!important;
    font-size: 15px!important;
    line-height: 20px!important;
}
.small-card-container
{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
	width:389px;
    margin-right: 24px;
}
.small-card
{
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24); */
	/* border-radius:3px; */
	height:100.8px;
	width:
}
.smallbackimg
{
	width: 100px;
    height: 100px;
    margin-right: 24px;
    background-size: cover;
	display: block;
	-webkit-box-flex: 0;
    flex: 0 0 auto;
}
.spost-content
{
	min-width: 0;
    width: 265px;
}
.spost-title
{
	max-height: 48px;
    overflow: hidden;
	margin-bottom: 16px;
}
.spost-heading
{
	color:rgba(0,0,0,.84);
	margin-top:0px;
	font-size: 15px;
    line-height: 20px;
    letter-spacing: -.17px;
}
.small-card-container .small-card:not(:last-child) 
{
    margin-bottom: 24px;
}
.medium-card
{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	border-radius:3px;
	max-width: 323px;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    position: relative;
}
.mediumbackimg
{
	-webkit-box-flex: 0;
    height: 150px;
    margin-bottom: 16px;
	background-origin: border-box;
    background-size: cover;
	display: block;
}
.mpost-content
{
	width: 264px;
}
.mpost-title
{
	padding-left:25px;
	max-height: 75px;
    overflow: hidden;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 16px;
}
.mpost-heading
{
	color:rgba(0,0,0,.84);
	margin-top:0px;
	font-size: 18px;
    line-height: 24px;
    letter-spacing: -.29px;
	margin-bottom: 4px;
}
.mpost-exerpt
{
	color: rgba(0,0,0,.54);
	letter-spacing: 0px;
	font-size: 14px;
	line-height: 20px;
}
.featured-link-wrapper
{
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 100%;
    max-width: 1032px;
}
.featured-link
{
	margin-top: 24px;
	display: inline-block;
    color: #03a87c;
	font-weight: 400;
	font-size: 15px;
    line-height: 20px;
    -webkit-transform: translateY(1.8px);
    transform: translateY(1.8px);
    letter-spacing: .03em;
    text-transform: uppercase;
}
a.featured-link:hover
{
	color: #03a87c;
}
.featured-link-wrapper .featured-link span
{
	transform: translateY(-1.25px);
	vertical-align: middle;
	position: relative;
    height: 0;
    line-height: 0;
    margin-top: 0;
    top: 0;
	display: inline-block;
	
}
.hero-divider
{
	position: relative;
    border-bottom: 1px solid rgba(0,0,0,.15);
    max-width: 1032px;
    margin: 24px auto;
}
.foreground
{
	min-height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
	display:flex;
}
.foreground-container
{
	max-width: 1032px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.bigpart
{
    max-width: 680px;
    width: 100%;
    padding-right: 24px;
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.foreheading
{
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.fh
{
    line-height: 1.2;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 1px solid rgba(0,0,0,.54);
    padding-bottom: 20px;
    /* margin-bottom: -1px; */
    display: block;
}
.adjust-flex
{
	-webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}
.svgIcon
{
	line-height: 19px;
    height: 19px;
    display: inline-block;
    color: rgba(0,0,0,.54);
}
.post-preview
{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
	border-radius:3px;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    max-width: 680px;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 24px;
}
.post-preview-post
{
	text-align: left;
    min-width: 0;
    margin-right: 24px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.post-preview-heading
{
	padding-top:20px;
	padding-left:25px;
	/* padding-top:20px; */
	/* padding-left:25px; */
	/* width:180px; */
	color:rgba(0,0,0,.84);
	overflow: hidden;
    max-height: 84px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
	font-size: 20px;
    line-height: 28px;
    -webkit-transform: translateY(-.72px);
    transform: translateY(-.72px);
    letter-spacing: -.42px;
	font-weight:600;
	margin:0px;
}
.summary
{
	padding-left:25px;
	overflow: hidden;
    max-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
	font-weight: 400;
	font-size: 14px;
    line-height: 20px;
    -webkit-transform: translateY(1.52px);
    transform: translateY(1.52px);
	margin-top: 2px;
	color: rgba(0,0,0,.54);
}
.justifySpace
{
	min-width: 0;
    margin-top: 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
	-webkit-flex: 1 1 auto;
    display: flex;
	flex-direction: column;
}
.caption
{
	font-weight: 400;	
	font-size: 14px;
    line-height: 20px;
    -webkit-transform: translateY(1.8px);
    transform: translateY(1.8px);
	overflow:hidden;
	white-space: nowrap;
	padding:0px;
}
.post-preview-img
{
	background-origin: border-box;
    background-size: cover;
	width: 100%;
    height: 100%;
	display:block;
}
.smallpart
{
	width: 328px;
	-webkit-box-flex: 0;
  flex: 0 0 auto;
  height: inherit!important;
}
.sidebar
{
  margin-bottom: 40px;
	line-height: 20px;
  font-size: 16px;
}
.sh
{
	border-bottom: 1px solid rgba(0,0,0,.15);
    padding-bottom: 16px;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 32px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.sidebar-heading
{
	font-weight: 600;
	font-size: 24px;
    line-height: 28px;
	color: rgba(0,0,0,.84);
    -webkit-transform: translateY(-.72px);
    transform: translateY(-.72px);
    letter-spacing: -.42px;
	margin:0px;
}
.sidebar-li
{
	margin-bottom: 24px;
	display: flex;
}
.sidebar-serial
{
	font-size: 34px;
	color: rgba(0,0,0,.15);
	margin-top: 4px;
}
.sidebar-content
{
	min-width: 200px;
    margin-left: 16px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.sidebar-content-heading
{
	overflow: hidden;
    max-height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: 600;
	font-size: 16px;
    line-height: 20px;
    -webkit-transform: translateY(.96px);
    transform: translateY(.96px);
    letter-spacing: -.17px;
	color: rgba(0,0,0,.84);
	margin-bottom: 4px;
	margin-top:0px;
}
.creditsWrapper
{
	min-width: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.credits
{
	font-weight: 400;
	font-size: 15px;
    line-height: 20px;
    -webkit-transform: translateY(1.8px);
    transform: translateY(1.8px);
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lock-sidebar
{
	transform: translate3d(0px, 60px, 0px);
	position: sticky;
	top:0;
	width: inherit;
	/* transition: 0.5s ease; */
}
footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F7F8FA;
  text-align: center;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: fixed; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Close Button */
.close {
  color: black;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.form-box{
  background: #fff;
  margin: 11% auto;
  max-width: 450px;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23);
}
form#login-form {
  overflow: hidden;
  position: relative;
  padding: 40px;
}
form#register-form {
  overflow: hidden;
  position: relative;
  padding: 25px;
}
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.tab button {
  width: 50%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #6498fe;
  color: white;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.form-group {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.form-group .label-control {
  color: #888;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  pointer-events: none;
  height: 100%; 
}
.form-group .label-control::before,
.form-group .label-control::after{
  content: "";
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.form-group .label-control::before{
  border-bottom: 1px solid #B9C1CA;
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}

.form-group .label-control::after {
  border-bottom: 2px solid #03A9F4;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.form-control {
  border: none;
  border-radius: 0;
  margin-top: 20px;
  padding: 12px 0;
  width: 100%;
  font-size: 14px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-group .label-control .label-text{
   -webkit-transform: translate3d(0, 30px, 0) scale(1);
    -moz-transform: translate3d(0, 30px, 0) scale(1);
    transform: translate3d(0, 30px, 0) scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
}
.active .label-control::after{
   -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.active .label-control .label-text {
    opacity: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    color: #03A9F4 !important;
}

.input-field label:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #B9C1CA;
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}


input.btn[type="submit"] {
  background: #6498fe;
  border:none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 0;
  outline: medium none;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.16), 0 1px 2px 0px rgba(0,0,0,0.23);
}
input.btn[type="submit"]:hover {
  background: #4b81eb;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.16), 0 2px 4px 0px rgba(0,0,0,0.23);
}
.text-p{
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
.text-p a{
  color: #175690;
}